* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  font-size: 1em;
}

.edit-menu {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  height: 8%;
  width: 10%;
  margin: 10px;
}

button {
  background-size: cover;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
}

input {
  border: solid 1px transparent;
}

input:active,
input:focus {
  box-shadow: 0 0 0 0 none;
  outline: 0;
  border: solid 1px transparent;
}

.buttons-box div {
  width: 100%;
  height: 100%;
}

.edit-button {
  width: 50px;
  height: 50px;
}

.edit-button button {
  background-image: url("../images/edit-button-image.png");
  background-size: 50%;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.findUser {
  position: absolute;
  display: none;
  transform: translate(17%, 10%);
  width: 23%;
  max-width: 275px;
}

.search-button, .cancel-searching-button  {
  min-width: 20px;
  max-width: 10%;
}

.search-button button {
  background-image: url("../images/search-button-image.png");
  background-color: white;
}

.cancel-searching-button button {
  background-image: url("../images/close-button-image.png");
  background-color: white;
}

.find-input input {
  width: 100%;
}

.editor-showcase {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translate(0%, -10%);
  height: 35%;
  width: 20%;
  background-image: linear-gradient(to right, rgb(82, 82, 82), rgb(68, 68, 68), rgb(65, 65, 65));
  border: solid 1px black;
  border-radius: 10px;
}

.editor-title {
  width: 100%;
  height: 20%;
  word-break: break-all;
}

.editor-showcase label {
  font-size: 1.01em;
  font-weight: bold;
  color: black;
}

.edit-panel-userData {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
}

.edit-panel-userData div {
  margin: 10px;
}

.edit-userAge input::-webkit-outer-spin-button,
.edit-userAge input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.edit-userGender {
  display: flex;
  justify-content: space-evenly;
}

.editor-showcase input {
  height: 50%;
  width: 70%;
  color: black;
  margin: 5px;
}

.editor-showcase input:hover,
.editor-showcase input:focus {
  box-shadow: 0 0 0 0;
  overflow: hidden;
}

.clear-and-done-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
  width: 95%;
}

.edit-iterative-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 90%;
}

.edit-iterative-buttons button, .clear-and-done-buttons button {
  width: 10%;
}

.clear-button {
  background-image: url("../images/clearinput-button-image.png");
}

.done-button {
  background-image: url("../images/done-button-image.png");
}

.delete-button {
  background-image: url("../images/delete-button-image.png");
}

.close-button {
  background-image: url("../images/close-button-image.png");
}

@media (max-width: 1200px) {
  .editor-showcase {
    width: 35%;
  }

  .findUser {
    height: 4%;
    transform: translate(20%, -15%);
  }

  .search-button,
  .cancel-searching-button {
    width: 20%;
  }

  .findUser input {
    height: 100%;
  }

  .findUser button {
    background-size: 70%;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1000px) {
  .editor-showcase {
    width: 40%;
  }

  .findUser {
    height: 4%;
    width: 50%;
    transform: translate(15%, -15%);
  }

  .findUser input {
    height: 100%;
  }

  .search-button,
  .cancel-searching-button {
    width: 15%;
  }

  .findUser button {
    background-size: 60%;
    background-repeat: no-repeat;
  }
}

@media (max-width: 700px) {
  .editor-showcase {
    width: 65%;
    height: 45%;
  }

  .findUser {
    height: 4%;
    width: 38%;
    transform: translate(20%, -15%);
  }

  .search-button,
  .cancel-searching-button {
    width: 20%;
  }

  .findUser input {
    height: 100%;
  }

  .findUser button {
    background-size: 70%;
    background-repeat: no-repeat;
  }
}
