.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  height: 90vh;
  background-color: transparent;
  border-radius: 10px;
}

.header-content {
  width: 100%;
  max-width: 100%;
  height: 20%;
  display: flex;
  transition: all 1s;
}

.board-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
  width: 99%;
  margin: 5px;
  overflow-y: auto;
}

.board-content ul {
  min-height: 30%;
  max-height: 97%;
  width: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(to right, rgb(82, 82, 82), rgb(68, 68, 68), rgb(65, 65, 65));
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .main-content {
    height: 100vh;
    width: 99vw;
  }
  .header-content {
    height: 20vh;
  }
  .board-content ul {
    min-height: 30%;
    max-height: 100%;
  }
}

